.register-body{
    font-family: 'poppins', sans-serif;
    background: #16a0844d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .register-content{
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    width: 50vw;
    min-height: 480px;
   
  }
  
  .register-content button{
    background-color:#16a085;
    color: #fff;
    padding: 10px 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: -70px;
  }
  .register-btn{
    padding: 10px 10px;

  }
  .register-btn:hover{
    background-color: #16a085;
  }
  .header-text h1, .register-forgot a{
    color: #16a085;
  }
  
  .register-right-box{
    padding: 40px 30px 40px 40px;
  }
  
  .register-switch-content{
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 60px 60px 0;
    z-index: 1000;
  }
  
  .register-content.active .register-switch-content{
    transform: translateX(100%);
    border-radius: 60px 0 0 60px;
  }
  
  .register-switch{
    background-color: #16a085;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .register-content.active  .register-switch{
    transform: translateX(50%);
  }
  
  .register-switch-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .register-switch-left{
    transform: translateX(-200%);
  }
  
  .register-content.active .register-switch-left{
    transform: translateX(0);
  }
  
  .register-switch-right{
    right: 0;
    transform: translateX(0);
  }
  
  .register-content.active .register-switch-right{
    transform: translateX(200%);
  }

  @media  screen and (max-width:700px) and (min-width: 320px){
    .register-total{
        width: 100%;
    }
    .register-content{
        width: 80%;
    }
    .register-switch-panel{
        h1{
            font-size: 20px;
        }
        p{
            font-size: 12px;
        }
    }
    .register-content button{
        width: 200px;
        font-size: 8px;
        padding: 0;
    }
    .register-switch-right{
        button{
            width: 200px;
            font-size: 8px;
            padding: 0;
    }
    #register{
        width: 90%;
        font-size: 8px;
        padding: 0;
        margin: 0 10px;
    }
}
button{
  width: 50%;
}
.register-switch-panel button{
  width: 50%;
}
.right-box{
  width: 80%;
  margin-left: 10%;
  /* padding: 0 10%; */
  h1{
    font-size: 30px;
  }
}
.register-switch-left{
  button{
      width: 200px;
      font-size: 8px;
      padding: 0;
}
#login{
  width: 90%;
  font-size: 8px;
  padding: 0;
  margin: 0 10px;
}
}
.left-box{
  width: 80%;
  margin-left: 5%;
  text-align: center;
  h1{
    font-size: 30px;
  }
  button{
    width: 80%;
    margin-left: 10%;
  }
}




  }